<nav class="navbar navbar-expand-lg  ">
  <a class="navbar-brand" target="_blank" href="http://softwareacademy.bg/">Software academy </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/courses/list">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://softwareacademy.bg/index.php?q=contacts">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/auth/register">Register</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn  my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>