body {
    background-image: url("E:\Уни\AProject\course-work\src\Computer-Courses-in-Pakistan.jpg");
    background-color: #00bcd4; 
    background-repeat: no-repeat;
    background-size: 150%;
   }
   